/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


html body {
  padding: 50px !important;
}

.snippet{
  font-size:12px;
  background-color:black;
  color:silver;
  padding:8px;
  border-radius:4px;
}

.turncate{
  word-break: break-word;
  white-space: normal;
}

.devise{
  width:40%;
  margin-left:30%;
  margin-top:50px;
  margin-bottom:100px;
  border-radius:10px;
  background-color:whitesmoke;padding:30px;
  border-style:solid;
  border-color:gainsboro;
}