<center>
<h1 class="ui header">
  <%= image_tag "hawk-icon.png", class:"ui massive image"%>
  <br>
  <div class="content">
  <span style="color:Midnight Blue">Webhawk</span>
  <div class="sub header">All you need is logs.</div>
  </centent>
</h1>
</center>